/*
UNIVERSAL SELECTOR
SYNTAX:

selector {
  property: value;
}


*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#external {
    color: green;
}

section{
    height: 80vh;
}

h1 {
    font-size: 3rem;
}



h4 + img{   
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.learning-things {
    list-style-type: none;
    letter-spacing: 10px;
}

h2 ~ h3 {
    font-size: 1.2rem;
}

#quote {
    text-align: center;
}